.article-item {
  width: 444px;
  padding: 3rem 2rem;

  p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 44.5px;
    text-align: center;
    letter-spacing: 1%;
    margin: 3rem 0 0 0;
  }

  p:hover {
    text-decoration: underline;
  }
}

.article-item:hover {
  outline: solid 2px #d4ff1e;
  border-radius: 11px;
}

.img {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  width: 100%;
  background-color: #c4c4c4 !important;
}

.carousel-button {
  background-color: #dbff0d !important;
  color: black !important;
  height: 4rem !important;
  width: 4rem !important;
}

.carousel-icon {
  font-weight: 700 !important;
  font-size: 3rem !important;
}

.next-button {
  margin: auto 10% auto auto;
}

.prev-button {
  margin: auto 0 auto auto;
}
