.Card {
  background-color: #131313;
  border: 1px solid #d4ff1e80;

  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

.Card:hover {
  border: 2px solid #d4ff1d;
}

.Chip {
  background-color: #d4ff1d !important;
}
