.heading {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  padding: 2% 5%;
}

.heading span:nth-child(even) {
  color: #d4ff1d;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
}
